img {
    max-width: 300px;
}
body{
    color: whitesmoke;
    background-image: url('allo_hatterkep_BG.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

h1 {
    text-align: center;
}

.jobbra {
    text-align: right;
}

.kep {
    float: left;
    margin-right: 30px;
}

.bemutatkozas {
    margin-right: 350px;
}

#link {
    float: right;
}

