body{
    text-align: center;
}

div{
    border: black;
    border-style: solid;
    border-width: 10px;
    border-radius: 80px;
    font-size: 30px;
    margin: 0px 150px 0px 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}